@import "tailwindcss";

/* Google Fonts */
@font-face {
  font-family: "Ballet";
  src: url("./assets/fonts/Ballet_48pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Boldonse";
  src: url("./assets/fonts/Boldonse-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KiteOne";
  src: url("./assets/fonts/KiteOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ultra";
  src: url("./assets/fonts/Ultra-Regular.ttf") format("truetype");
}

@theme {
  /* Font Family */
  --font-ballet: "Ballet", sans-serif;
  --font-boldonse: "Boldonse", sans-serif;
  --font-kiteone: "KiteOne", sans-serif;
  --font-opensans: "OpenSans", sans-serif;
  --font-ultra: "Ultra", sans-serif;
}
